/* Rift font faces
   Put the font files in `public/fonts/` with these names:
   - Rift-Light.otf (300)
   - Rift-Regular.otf (400)
   - Rift-Medium.otf (500)
   - Rift-Semibold.otf (600)
   - Rift-Bold.otf (700)
   - Rift-Extrabold.otf (800)
*/

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rift";
  src: url("/fonts/Rift-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

